package home

import (
    "github.com/alcb1310/gotth/internal/views/layouts"
)

templ Index() {
    @layouts.Base("GoTTH") {
        <h1>Hello from Templ</h1>

        <div
            id="todo-list"
            hx-get="/todos"
            hx-trigger="load"
            hx-target="#todo-list"
            hx-swap="innerHTML"
            hx-indicator="#loading"
        >
            <p class="loading">Loading...</p>
        </div>
    }
}
